USE [master]
GO
/****** Object:  Database [Conforma]    Script Date: 11/04/2017 18:10:05 ******/
CREATE DATABASE [Conforma] ON  PRIMARY 
( NAME = N'Conforma', FILENAME = N'C:\Mateo\Facu\PAV\Conforma.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Conforma_log', FILENAME = N'C:\Mateo\Facu\PAV\Conforma_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Conforma].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Conforma]
GO
/****** Object:  Table [dbo].[BARRIOS]    Script Date: 11/04/2017 18:10:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BARRIOS](
	[ID_BARRIO] [int] NOT NULL,
	[NOMBRE] [varchar](40) NOT NULL,
	[CODIGO_POSTAL] [int] NOT NULL,
	[ID_CIUDAD_ID_BARRIO] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_BARRIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CATEGORIAS]    Script Date: 11/04/2017 18:10:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CATEGORIAS](
	[ID_CATEGORIA] [int] NOT NULL,
	[NOMBRE] [varchar](40) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_CATEGORIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[NOMBRE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CIUDADES]    Script Date: 11/04/2017 18:10:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CIUDADES](
	[ID_CIUDAD] [int] NOT NULL,
	[NOMBRE] [varchar](40) NOT NULL,
	[ID_PROVINCIA_ID_CIUDAD] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_CIUDAD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CLIENTES]    Script Date: 11/04/2017 18:10:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CLIENTES](
	[ID_CLIENTE] [int] NOT NULL,
	[ID_TIPO_DOCUMENTO] [int] NULL,
	[NUMERO_DOCUMENTO] [bigint] NOT NULL,
	[NOMBRE] [varchar](40) NOT NULL,
	[APELLIDO] [varchar](40) NOT NULL,
	[MAIL] [varchar](40) NOT NULL,
	[CUIL_EMPRESA] [bigint] NULL,
	[TELEFONO_FIJO] [bigint] NULL,
	[TELEFONO_CELULAR] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_CLIENTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [U_CLIENTES] UNIQUE NONCLUSTERED 
(
	[ID_TIPO_DOCUMENTO] ASC,
	[NUMERO_DOCUMENTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [Un_CLIENTES] UNIQUE NONCLUSTERED 
(
	[ID_TIPO_DOCUMENTO] ASC,
	[NUMERO_DOCUMENTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DETALLES_PEDIDOS]    Script Date: 11/04/2017 18:10:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DETALLES_PEDIDOS](
	[ID_DETALLE_PEDIDO] [int] NOT NULL,
	[ID_PEDIDO] [int] NOT NULL,
	[ID_PRODUCTO] [int] NOT NULL,
	[CANTIDAD] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_DETALLE_PEDIDO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [U_DP] UNIQUE NONCLUSTERED 
(
	[ID_DETALLE_PEDIDO] ASC,
	[ID_PEDIDO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [U_PP] UNIQUE NONCLUSTERED 
(
	[ID_PEDIDO] ASC,
	[ID_PRODUCTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[EMPRESAS]    Script Date: 11/04/2017 18:10:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[EMPRESAS](
	[CUIL] [bigint] NOT NULL,
	[NOMBRE] [varchar](40) NOT NULL,
	[RAZON_SOCIAL] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CUIL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MARCAS]    Script Date: 11/04/2017 18:10:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MARCAS](
	[ID_MARCA] [int] NOT NULL,
	[NOMBRE] [varchar](50) NOT NULL,
	[ID_TIPO_PRODUCTO_MARCAS] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_MARCA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[NOMBRE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MODELOS]    Script Date: 11/04/2017 18:10:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MODELOS](
	[ID_MODELO] [int] NOT NULL,
	[NOMBRE] [varchar](50) NOT NULL,
	[ID_MARCA_MODELO] [int] NOT NULL,
	[AÑO] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_MODELO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[NOMBRE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PAISES]    Script Date: 11/04/2017 18:10:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PAISES](
	[ID_PAIS] [int] NOT NULL,
	[NOMBRE] [varchar](40) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_PAIS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PEDIDOS]    Script Date: 11/04/2017 18:10:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PEDIDOS](
	[ID_PEDIDO] [int] NOT NULL,
	[ID_CLIENTE] [int] NOT NULL,
	[FECHA_PEDIDO] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_PEDIDO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PRODUCTOS]    Script Date: 11/04/2017 18:10:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PRODUCTOS](
	[ID_PRODUCTO] [int] NOT NULL,
	[ID_RUBRO] [int] NOT NULL,
	[ID_TIPO_PRODUCTO] [int] NOT NULL,
	[ID_MODELO] [int] NOT NULL,
	[ID_CATEGORIA] [int] NOT NULL,
	[OBSERVACIONES] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_PRODUCTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PROVINCIAS]    Script Date: 11/04/2017 18:10:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PROVINCIAS](
	[ID_PROVINCIA] [int] NOT NULL,
	[NOMBRE] [varchar](40) NOT NULL,
	[ID_PAIS_ID_PROVINCIA] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_PROVINCIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[RUBROS]    Script Date: 11/04/2017 18:10:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[RUBROS](
	[ID_RUBRO] [int] NOT NULL,
	[NOMBRE] [varchar](40) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_RUBRO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TIPOS_DOCUMENTOS]    Script Date: 11/04/2017 18:10:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TIPOS_DOCUMENTOS](
	[ID_TIPO_DOCUMENTO] [int] NOT NULL,
	[DESCRIPCION] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_TIPO_DOCUMENTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TIPOS_PRODUCTOS]    Script Date: 11/04/2017 18:10:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TIPOS_PRODUCTOS](
	[ID_TIPO_PRODUCTO] [int] NOT NULL,
	[NOMBRE] [varchar](40) NOT NULL,
	[ID_RUBRO] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_TIPO_PRODUCTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[NOMBRE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[BARRIOS]  WITH CHECK ADD FOREIGN KEY([ID_CIUDAD_ID_BARRIO])
REFERENCES [dbo].[CIUDADES] ([ID_CIUDAD])
GO
ALTER TABLE [dbo].[CIUDADES]  WITH CHECK ADD FOREIGN KEY([ID_PROVINCIA_ID_CIUDAD])
REFERENCES [dbo].[PROVINCIAS] ([ID_PROVINCIA])
GO
ALTER TABLE [dbo].[CLIENTES]  WITH CHECK ADD FOREIGN KEY([CUIL_EMPRESA])
REFERENCES [dbo].[EMPRESAS] ([CUIL])
GO
ALTER TABLE [dbo].[CLIENTES]  WITH CHECK ADD FOREIGN KEY([ID_TIPO_DOCUMENTO])
REFERENCES [dbo].[TIPOS_DOCUMENTOS] ([ID_TIPO_DOCUMENTO])
GO
ALTER TABLE [dbo].[DETALLES_PEDIDOS]  WITH CHECK ADD FOREIGN KEY([ID_PEDIDO])
REFERENCES [dbo].[PEDIDOS] ([ID_PEDIDO])
GO
ALTER TABLE [dbo].[DETALLES_PEDIDOS]  WITH CHECK ADD FOREIGN KEY([ID_PRODUCTO])
REFERENCES [dbo].[PRODUCTOS] ([ID_PRODUCTO])
GO
ALTER TABLE [dbo].[MARCAS]  WITH CHECK ADD FOREIGN KEY([ID_TIPO_PRODUCTO_MARCAS])
REFERENCES [dbo].[TIPOS_PRODUCTOS] ([ID_TIPO_PRODUCTO])
GO
ALTER TABLE [dbo].[MODELOS]  WITH CHECK ADD FOREIGN KEY([ID_MARCA_MODELO])
REFERENCES [dbo].[MARCAS] ([ID_MARCA])
GO
ALTER TABLE [dbo].[PEDIDOS]  WITH CHECK ADD FOREIGN KEY([ID_CLIENTE])
REFERENCES [dbo].[CLIENTES] ([ID_CLIENTE])
GO
ALTER TABLE [dbo].[PRODUCTOS]  WITH CHECK ADD FOREIGN KEY([ID_CATEGORIA])
REFERENCES [dbo].[CATEGORIAS] ([ID_CATEGORIA])
GO
ALTER TABLE [dbo].[PRODUCTOS]  WITH CHECK ADD FOREIGN KEY([ID_MODELO])
REFERENCES [dbo].[MODELOS] ([ID_MODELO])
GO
ALTER TABLE [dbo].[PRODUCTOS]  WITH CHECK ADD FOREIGN KEY([ID_RUBRO])
REFERENCES [dbo].[RUBROS] ([ID_RUBRO])
GO
ALTER TABLE [dbo].[PRODUCTOS]  WITH CHECK ADD FOREIGN KEY([ID_TIPO_PRODUCTO])
REFERENCES [dbo].[TIPOS_PRODUCTOS] ([ID_TIPO_PRODUCTO])
GO
ALTER TABLE [dbo].[PROVINCIAS]  WITH CHECK ADD FOREIGN KEY([ID_PAIS_ID_PROVINCIA])
REFERENCES [dbo].[PAISES] ([ID_PAIS])
GO
ALTER TABLE [dbo].[TIPOS_PRODUCTOS]  WITH CHECK ADD FOREIGN KEY([ID_RUBRO])
REFERENCES [dbo].[RUBROS] ([ID_RUBRO])
GO
USE [master]
GO
